* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header, footer, .film, .film-info h1, .film-info h2, .acteur, .acteur-info h1, img {
    border-radius: 20px;
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}

body {
    /* Espacement général entre chaque éléments */
    --espace: 20px;

    height: 100vh;
    background: #D1D8EC;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav img {
    padding: 5px;
}

nav {
    padding-right: 50px;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

header div {
    padding-right: 100px;
}

  header, footer {
    text-align: center;
    padding: var(--espace);
    margin: var(--espace);
}

main {
    flex: 1;

    padding: 30px var(--espace);
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: var(--espace);
}

/* FILM */

.film {
    display: flex;
    gap: var(--espace);
    flex-direction: column;
    padding: var(--espace);
}

.film .img {
    flex: .3;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    min-height: 500px;
}

.film-info {
    flex: 1;
    padding: 0 12px;

    display: flex;
    flex-direction: column;
    gap: var(--espace);
}

.prem-ligne {
    display: flex;
    flex-direction: column;
    gap: var(--espace);
}

.titre, .resume {
    flex: 1;
}

.film-info h1, .film-info h2 {
    padding: var(--espace);
}


/* ACTEUR */
a {text-decoration: none;}

.acteur {
    padding: var(--espace);
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
}

.acteur img {
    object-fit: cover;
    border-radius: 15px;
    border: #b2b8c9 solid 4px;
}

.acteur-info {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.acteur-info h1 {
    text-align: center;
    padding: 12px;
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
    .acteur {
        flex-direction: row;
    }
}

@media (min-width: 600px) {
    .film {
        flex-direction: row;
    }
}


@media (min-width: 800px) {
    .prem-ligne {
        flex-direction: row;
    }
}